body{
    background-color: #143443;
    margin-top: 0%;
    font-family:'Roboto',sans-serif ;
    
  }
  .root{
    height:500px;
    display:flex;

  }
  .content{
      padding-top: 150px;
  }

  .image img{
    height:550px;
    width:1000px;
    float:left;
  }
  
  #txt1{
    color:white;
    font-size :36px;
    
  }
  
  #Button{
    
    background-color:transparent;
    border: 2px solid white;
    color:white;
    font-size:18px;
    text-align: center;
    padding:10px 25px 10px 25px;
    border-radius: 20px;
    margin: 10px 0px;
    cursor: pointer;
    transition:0.4s;
    
    
  }

  #Button:hover {
    background-color:#26617c;
    color:white;
    right: -20px;
    transition: 0.5s;

  }
 
  
  
  
  