body{
    background-color: #143443;
    margin: 0%;
    font-family:'Roboto',sans-serif ;
    
    
  }
  .root{
    height:500px;
    

  }
  .content{
    margin:0;
      padding-top: 150px;
      float:left;
  }
  logo{
    color:white;
    font-size :56px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
  }
  

  .image img{
    height:600px;
    width: 950px;
    float:left;
    
    
  }
  
  #txt1{
    color:white;
    font-size :36px;
    
  }
  
  #Button{
    
    background-color:transparent;
    border: 2px solid white;
    color:white;
    font-size:18px;
    text-align: center;
    padding:10px 25px 10px 25px;
    border-radius: 20px;
    margin: 10px 0px;
    cursor: pointer;
    transition:0.4s;
    
    
  }

  #Button:hover {
    background-color:#b0dcf0;
    color:#143443;
    font-style: bold;
    right: -20px;
    transition: 0.5s;

  }
 
  
  
  
  